
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set color variables */

:root {
    --off-white: rgb(245, 245, 245);
    --font: 'Dosis', sans-serif;
}


/* Main */

body {
    height: 300vh;
    background-color: var(--off-white);
}

#intro-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-circle {
    border-radius: 50%;
    border: 3px solid white;
    height: 20rem;
    width: 20rem;
    background-color: white;
}

#color-circle-2 {
    border-radius: 50%;
    border: 3px solid black;
    height: 20rem;
    width: 20rem;
    background-color: white;
}

#animated-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 2rem;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
}

#title-name {
    margin: 2rem;
    font-family: var(--font);
    font-size: 2rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: .9rem;
}

.page-div {
    height: 100vh;
}

    #intro-page-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        overflow: hidden;
    }

    #project-section-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

        .project-tile {
            position: absolute;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .project-title {
            font-size: 4rem;
            font-family: var(--font);
            margin: 0.5rem;
        }

        .project-subtitle {
            font-size: 1rem;
            margin: 0.5rem;
        }

        #project-tile-intro {
            background-color: var(--off-white);
        }

        #project-tile-intro-info {
            font-size: 5rem;
            font-family: var(--font);
        }

        .project-image {
            height: 20rem;
            width: 20rem;
            border-radius: 0.5rem;
        }

        .project-image-link {
            height: 20rem;
            width: 20rem;
            border-radius: 0.5rem;
        }

        .project-image-link:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        .project-info {
            height: 17rem;
            width: 30rem;
            border: 1px solid black;
            border-radius: 0.5rem;
            padding: 1.5rem;
            text-align: justify;
        }

            #to-do-list {
                background-color: black;
                color: white;
            }

            #to-do-list-info {
                border: 1px solid white;
            }

            #user-info-from-api {
                background-color: var(--off-white);
            }

            #domain-api-tool {
                background-color: black;
                color: white;
            }

            #domain-api-tool-info {
                border: 1px solid white;
            }

#last-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--off-white);
}

#title-contact-me {
    font-size: 7rem;
    font-family: var(--font);
    margin: 2.5rem;
}
    
#contact-me-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.contact-me-links {
    color: black
}

i:hover {
    transform:  scale(1.1);
    cursor: pointer;
}








/* Media queries for different device sizes */




@media (max-width: 20rem) { /* 320 pixels */
   
    #color-circle, #color-circle-2 {
        transform: scale(.60);
    }
    
    #animated-nav-bar {
        justify-self: center;
        width: 8rem;
    }

    .nav-link {
        font-size: .5rem;
    }

    #project-tile-intro-info {
        font-size: 2rem;
    }

    .project-image-link {
        transform: scale(0.4);
    }

    .project-image-link:hover {
        transform: scale(0.5);
    }

    .project-title {
        font-size: 2rem;
        margin: 13rem 0rem 0rem 0rem;
    }

    .project-subtitle {
        font-size: 0.7rem;
        margin: 0.5rem 0px 0px 0px;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        padding: 0.5rem;
        font-size: 0.6rem;
        margin-bottom: 12rem;
    }

    .project-tile {
        justify-content: center;
    }

    #title-contact-me {
        font-size: 2.5rem;
        font-family: var(--font);
    }
}

@media (min-width: 20rem) { /* 320 pixels */
    
    #color-circle, #color-circle-2 {
        transform: scale(.70);
    }

    #animated-nav-bar {
        width: 10rem;
    }

    .nav-link {
        font-size: .5rem;
    }

    
    #project-tile-intro-info {
        font-size: 2.3rem;
    }

    .project-image-link {
        transform: scale(0.66);
    }

    .project-image-link:hover {
        transform: scale(0.76);
    }

    .project-title {
        font-size: 2.0rem;
        margin: 6rem 0px 0px 0px;
    }

    .project-subtitle {
        font-size: 0.8rem;
        margin: 0.5rem 0px 0px 0px;
    }

    .project-info {
        height: 10rem;
        width: 20rem;
        padding: 0.5rem;
        font-size: 0.6rem;
        margin-bottom: 5rem;
    }

    #title-contact-me {
        font-size: 3rem;
        font-family: var(--font);
        margin: 2.5rem;
    }

    .project-tile {
        justify-content: center;
    }
}

@media (min-width: 40rem) { /* 640 pixels */

    #color-circle, #color-circle-2 {
        transform: scale(1);
    }

    #animated-nav-bar {
        width: 20rem;
    }

    .nav-link {
        font-size: .7rem;
    }

    #project-tile-intro-info {
        font-size: 4rem;
    }

    .project-image-link {
        transform: scale(0.8);
        margin: 4rem;
    }

    .project-image-link:hover {
        transform: scale(0.9);
    }

    .project-title {
        font-size: 4rem;
        margin: 6rem 0px 0px 0px;
    }

    .project-info {
        height: 15rem;
        width: 25rem;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .project-tile {
        justify-content: flex-end;
    }

    #title-contact-me {
        font-size: 5rem;
        font-family: var(--font);
        margin: 2.5rem;
    }
}

@media (min-width: 60rem) { /* 960 pixels */

    #animated-nav-bar {
        width: 20rem;
    }

    #project-tile-intro-info {
        font-size: 5rem;
    }

    .project-image-link {
        transform: scale(1);
        margin: 6rem;
    }

    .project-image-link:hover {
        transform: scale(1.1);
    }

    .project-info {
        height: 20rem;
        width: 40rem;
        padding: 1.5rem;
        font-size: 1rem;
        margin: 0rem 0rem 4rem 0rem;
    }

    .project-tile {
        justify-content: center;
    }

    #title-contact-me {
        font-size: 7rem;
        font-family: var(--font);
        margin: 2.5rem;
    }

}